@import "../../utils/variables.scss";

.list-wrapper {
    .inner {
        width: 33.3%;
        padding: 2rem;

        .hero img {
            width: 100%;
        }

        .info {
            padding: 1rem 0;
            width: 100%;

            @media(max-width: $sm) {
                padding: 1rem;
            }
        }

        @media(max-width: $md) {
            width: 50%;
        }

        @media(max-width: $sm) {
            width: 100%;
            padding: 0;
        }
    }
}