@import "../../utils/variables.scss";

.header {
    padding: 3rem 0;

    @media(max-width: $md) {
        padding: 2rem 0;
    }

    @media(max-width: $sm) {
        padding: 1rem 0;
    }

    .header-link {
        display: block;
        text-align: center;

        img {
            width: 100%;
            max-width: 400px;

            @media(max-width: $lg) {
                max-width: 350px;
            }

            @media(max-width: $md) {
                max-width: 300px;
            }

            @media(max-width: $sm) {
                max-width: 200px;
            }
        }
    }
}